.container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    /* display: flex; */
  
   
  
    
   
  }

  .description {
    display: flex;
    /* justify-content: center; */
   
    font-size: 18px;
    
  }
  .price {
    display: flex;
    /* justify-content: center; */
    font-size: 17px;
    
  }
  
  .addbtn {
   
    background-color:#007db4;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    height: 25px;
    width: 5%;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: green;
    height: 25px;
    width: 5%;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 20px;
  }
  .cart a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
  }



 
   
   

.images {
  max-width: 10%;
  max-height: 22vh;
  margin: 30px auto;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
 

  /*     
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12); */
  }

    

  


  
   
 
  