.bg{
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  background-color: #BBDEE1;
}



.product-images { 
  height: 20vh;
  object-fit: contain;

}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
  height: 30vh;
  width: 20%;
  margin:20px;
  box-shadow:  5px 5px 20px #e2dfdf,
             -5px -5px 20px #e2dfdf;

}

   
  






  




  /* .product-description {
    width: 75%;
    text-align:center;
    font-size: 18px;
  }
  
   
    
  .product-price {
    font-size: 17px;
  }
    
  
  
  .product-addbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#007db4;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    outline: none;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  } 


 
   
    */



  
   
 
  